<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Expenditure Recorder</title>
    <link rel="icon" type="image/svg" href="/images/icons/favicon.svg">
    <link rel='stylesheet' href='/css/common.css' />
    <script src="/js/header_component.js" defer type="module"></script>
    <script src="/js/page_review.js" defer type="module"></script>
    <!--Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>

<body>
    <main>
        <expendrec-header></expendrec-header>
        <section id="review-form">
            <h1>Monthly Review</h1>
            <form name="review_form" method="GET">
                <label for="month">Month</label>
                <input type="month" name="month" id="month" required>
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="All">All</option>
                </select>
                <input type="submit" value="Review Spendings">
            </form>
        </section>
        <section id="review-display">
            <h1>Spendings Breakdown</h1>

            <% if (period && category){ %>
            <h2>For <%= period %> | <%= category %></h2>
            <%}else {%>
            <p>Please select a time preiod to review.</p>
            <%} %>

            <% if (expenditure && (expenditure.total === 0 || expenditure?.total?.grand === 0)){ %>
            <p>No Record!</p>
            <%} else if (expenditure && (category && category!=='All')) {%>
            <%# If category filter is applied. The expenditure object is different from that of no filter %>

            <div class="total-category">
                <h3>Grand Total</h3>
                <p><%= expenditure.total%></p>
            </div>
            <hr/>
            <div class="breakdown-category-day">
                <h3>Detailed Breakdown (Day)</h3>
                <table class="col3">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Spent</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [dayDate,{spent,comment}] of Object.entries(expenditure.dayBreakdown)){%>
                        <tr>
                            <td><%= dayDate %></td>
                            <td><%= spent %></td>
                            <td><%= comment %></td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <canvas id="breakdown-category-day-bar"></canvas>
                <%# could prevent the error highlight if assign as string, but need JSON.parse them%>
                <script type="module">
                    const categ = '<%=category %>';
                    const categDate = <%- JSON.stringify(Object.keys(expenditure.dayBreakdown).map((dateStr)=>dateStr.slice(-2))) %>;
                    const categSpent = <%- JSON.stringify(Object.values(expenditure.dayBreakdown).map((recordObj)=>recordObj.spent)) %>;
                    const day_spent_bar = document.querySelector("#breakdown-category-day-bar");
                    new Chart(day_spent_bar,{
                        type:'bar',
                        data:{
                            labels:categDate,
                            datasets:[{
                                label:categ,
                                data:categSpent,
                                borderWidth: 1,
                                backgroundColor:'#D0F0C0',
                                borderColor:'#ACE1AF'
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    title:{text:'Day',padding:0,display:true}
                                },
                                y: {
                                    title:{text:`${categ} Spent`,padding:0,display:true},
                                    beginAtZero: true
                                }
                            },
                            plugins:{legend:{position:'bottom'}}
                        }
                    });
                </script>    
            </div>

            <%} else if (expenditure && (category && category==='All')){%>

            <%# If no category filter is specified, aka "All" %>
            <div class="total-all">
                <h3>Grand Total</h3>
                <p><%= expenditure.total.grand %></p>
            </div>
            <hr/>
            <div class="total-all-categ">
                <h3>Total (Each Category)</h3>
                <table class="col2">
                    <colgroup>
                        <col class="col_categ">
                        <col class="col_spent">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Spent</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [categName,totalSpent] of Object.entries(expenditure?.total?.category)){%>
                        <tr>
                            <td><%= categName %></td>
                            <td><%= totalSpent %></td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <canvas id="total-all-categ-pie" class="pie"></canvas>
                <script>
                    const allCateg = <%- JSON.stringify(Object.keys(expenditure.total.category)) %>;
                    const allCategSpent = <%- JSON.stringify(Object.values(expenditure.total.category)) %>;
                    const all_categ_pie = document.querySelector("#total-all-categ-pie");
                    new Chart(all_categ_pie,{
                        type:'pie',
                        data:{
                            labels:allCateg,
                            datasets:[{
                                label:'Spent',
                                data:allCategSpent,
                                borderWidth: 1,
                            }]
                        },
                        options:{
                            plugins:{legend:{position:'right'}}
                        }
                    });
                </script>
            </div>
            <hr/>
            <div class="total-all-day">
                <h3>Total (Each Day)</h3>
                <table class="col2">
                    <colgroup>
                        <col class="col_day">
                        <col class="col_spent">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Spent</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [dayDate,totalSpent] of Object.entries(expenditure?.total?.day)){%>
                        <tr>
                            <td><%= dayDate %></td>
                            <td><%= totalSpent %></td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <canvas id="total-all-day-bar"></canvas>
                <script>
                    const allDay = <%- JSON.stringify(Object.keys(expenditure.total.day).map((dateStr)=>dateStr.slice(-2))) %>;
                    const allDaySpent = <%- JSON.stringify(Object.values(expenditure.total.day)) %>;
                    const all_day_bar = document.querySelector("#total-all-day-bar");
                    new Chart(all_day_bar,{
                        type:'bar',
                        data:{
                            labels:allDay,
                            datasets:[{
                                label:'Total',
                                data:allDaySpent,
                                borderWidth: 1,
                                backgroundColor:'#D0F0C0',
                                borderColor:'#ACE1AF'
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    title:{text:'Day',padding:0,display:true}
                                },
                                y: {
                                    title:{text:'Total Spent',padding:0,display:true},
                                    beginAtZero: true
                                }
                            },
                            plugins:{legend:{position:'bottom'}}
                        }
                    });
                </script>
            </div>
            <hr/>
            <div class="breakdown-all-categ_day">
                <h3>Detailed Breakdown (Category - Day)</h3>
                <table class="col4">
                    <colgroup>
                        <col class="col_categ">
                        <col class="col_day">
                        <col class="col_spent">
                        <col class="col_comment">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Day</th>
                            <th>Spent</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [categName,categEachDay] of Object.entries(expenditure?.categoryBreakdown)){%>
                        <% categEachDay.forEach(({day,spent,comment},index)=>{%>
                        <tr>
                        <% if (index === 0){%>
                            <td rowspan="<%= categEachDay.length %>"><%= categName %></td>
                        <%} %>
                            <td><%= day %></td>
                            <td><%= spent %></td>
                            <td><%= comment %></td>
                        </tr>
                        <%}) %>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div class="breakdown-all-day_categ">
                <h3>Detailed Breakdown (Day - Category)</h3>
                <table class="col4">
                    <colgroup>
                        <col class="col_day">
                        <col class="col_categ">
                        <col class="col_spent">
                        <col class="col_comment">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Category</th>
                            <th>Spent</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [dayDate,recordEachDay] of Object.entries(expenditure?.dayBreakdown)){%>
                        <% recordEachDay.forEach(({category,spent,comment},index)=>{%>
                        <tr>
                        <% if (index === 0){%>
                            <td rowspan="<%= recordEachDay.length %>"><%= dayDate %></td>
                        <%} %>
                            <td><%= category %></td>
                            <td><%= spent %></td>
                            <td><%= comment %></td>
                        </tr>
                        <%}) %>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div class="breakdown-all-chart">
                <h3>Detailed Breakdown Chart</h3>
                <canvas id="breakdown-all-bar-stack"></canvas>
                <script>
                    const eachDay = <%- JSON.stringify(Object.keys(expenditure.dayBreakdown).map((dateStr)=>dateStr.slice(-2))) %>;
                    const categEachDay = '<%- JSON.stringify(Object.entries(expenditure.categoryBreakdown)) %>';
                    const eachCategDataset = JSON.parse(categEachDay).map(([category,recordObjArr])=>{
                        const eachDayCategSpent = eachDay.map((date)=>0);
                        recordObjArr.forEach(({spent,day})=>{
                            const dateIndexAmongRecordedDay = eachDay.findIndex((date)=>date===day.slice(-2));
                            eachDayCategSpent[dateIndexAmongRecordedDay] = spent;
                        });
                        return {label:category,data:eachDayCategSpent}
                    });
                    const all_bar_stack = document.querySelector("#breakdown-all-bar-stack");
                    new Chart(all_bar_stack,{
                        type:'bar',
                        data:{
                            labels:eachDay,
                            datasets:eachCategDataset
                        },
                        options: {
                            scales: {
                                x: {
                                    title:{text:'Day',padding:0,display:true},
                                    stacked: true
                                },
                                y: {
                                    title:{text:'Spent',padding:0,display:true},
                                    stacked: true
                                }
                            },
                            plugins:{legend:{position:'bottom'}}
                        }
                    });
                </script>
            </div>
            <%}%>
        </section>
        <% if (notification) {%>
            <% if (status==='Fail' ) {%>
                <div class="notification-text">
                    <p><b><%= notification.title %></b>: <%= notification.message %></p>
                </div>
            <% } else if (status==='Success' ){%>
                <div class="notification-text-success">
                    <p><b><%= notification.title %></b>: <%= notification.message %></p>
                </div>
            <% } %>
        <% } %>
    </main>
</body>

</html>