<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Expenditure Recorder</title>
    <link rel="icon" type="image/svg" href="/images/icons/favicon.svg">
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/review.css' />
    <script src="/js/header_component.js" defer type="module"></script>
    <script src="/js/page_review.js" defer type="module"></script>
    <!--Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>

<body>
    <main>
        <expendrec-header></expendrec-header>
        <section id="review-form">
            <h1><%= reviewType %>ly Review</h1>
            <% if (reviewType === "Month"){%>
            <form name="review_form_month" method="POST" action="/review">
                <label for="month">Month</label>
                <input type="month" name="month" id="month" required>
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="All">All</option>
                </select>
                <input type="submit" value="Review Spendings">
            </form>
            <div>
                <p>Wish to view yearly analysis? <a id="yearly-review-link" href="/review/year">Yearly Review</a></p>
            </div>
            <%} else {%>
            <form name="review_form_year" method="POST" action="/review/year">
                <label for="yearFrom">Year</label>
                <select name="yearFrom" id="yearFrom" required>
                    <option value="">Select a Year</option>
                </select>
                <label for="yearFrom">To</label>
                <select name="yearTo" id="yearTo" required>
                    <option value="">Select a Year</option>
                </select>
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="All">All</option>
                </select>
                <div class="single-year-check">
                    <label for="single-year">Review Single Year</label>
                    <input type="checkbox" id="single-year">   
                </div>
                <input type="submit" value="Review Spendings">
            </form>
            <%}%>
        </section>
        <section id="review-display">
            <h1>Spendings Breakdown</h1>

            <% if (period && category){ %>
            <h2>For <%= period %> | <%= category %></h2>
            <%}else {%>
            <p>Please select a time preiod to review.</p>
            <%} %>

            <% if (expenditure && (expenditure.total === 0 || expenditure?.total?.grand === 0)){ %>
            <p>No Record!</p>
            <%} else if (expenditure && (category && category!=='All')) {%>
            <%# If category filter is applied. The expenditure object is different from that of no filter %>

            <div class="total-category">
                <h3>Grand Total</h3>
                <p><%= expenditure.total%></p>
            </div>
            <hr/>
            <div class="breakdown-category-day">
                <h3>Detailed Breakdown (<%=subPeriod%>)</h3>
                <table class="col3">
                    <thead>
                        <tr>
                            <th><%=subPeriod%></th>
                            <th>Spent</th>
                            <% if (reviewType === "Month"){ %><th>Comment</th><%}%>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [period,{spent,comment}] of Object.entries(expenditure.periodBreakdown)){%>
                        <tr>
                            <td><%= period %></td>
                            <td><%= spent %></td>
                            <% if (reviewType === "Month"){ %><td><%= comment %></td><%}%>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <canvas id="breakdown-category-period-bar"></canvas>
                <%# could prevent the error highlight if assign as string, but need JSON.parse them%>
                <script type="module">
                    const categ = '<%=category %>';
                    const categPeriod = <%- JSON.stringify(Object.keys(expenditure.periodBreakdown)) %>;
                    const categSpent = <%- JSON.stringify(Object.values(expenditure.periodBreakdown).map((recordObj)=>recordObj.spent)) %>;
                    const period_spent_bar = document.querySelector("#breakdown-category-period-bar");
                    new Chart(period_spent_bar,{
                        type:'bar',
                        data:{
                            labels:categPeriod,
                            datasets:[{
                                label:categ,
                                data:categSpent,
                                borderWidth: 1,
                                backgroundColor:'#D0F0C0',
                                borderColor:'#ACE1AF'
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    title:{text:'Day',padding:0,display:true}
                                },
                                y: {
                                    title:{text:`${categ} Spent`,padding:0,display:true},
                                    beginAtZero: true
                                }
                            },
                            plugins:{legend:{position:'bottom'}}
                        }
                    });
                </script>    
            </div>

            <%} else if (expenditure && (category && category==='All')){%>

            <%# If no category filter is specified, aka "All" %>
            <div class="total-all">
                <h3>Grand Total</h3>
                <p><%= expenditure.total.grand %></p>
            </div>
            <hr/>
            <div class="total-all-categ">
                <h3>Total (Each Category)</h3>
                <table class="col2">
                    <colgroup>
                        <col class="col_categ">
                        <col class="col_spent">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Spent</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [categName,totalSpent] of Object.entries(expenditure?.total?.category)){%>
                        <tr>
                            <td><%= categName %></td>
                            <td><%= totalSpent %></td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <canvas id="total-all-categ-pie" class="pie"></canvas>
                <script>
                    const allCateg = <%- JSON.stringify(Object.keys(expenditure.total.category)) %>;
                    const allCategSpent = <%- JSON.stringify(Object.values(expenditure.total.category)) %>;
                    const all_categ_pie = document.querySelector("#total-all-categ-pie");
                    new Chart(all_categ_pie,{
                        type:'pie',
                        data:{
                            labels:allCateg,
                            datasets:[{
                                label:'Spent',
                                data:allCategSpent,
                                borderWidth: 1,
                            }]
                        },
                        options:{
                            plugins:{legend:{position:'right'}}
                        }
                    });
                </script>
            </div>
            <hr/>
            <div class="total-all-period">
                <h3>Total (Each <%=subPeriod%>)</h3>
                <table class="col2">
                    <colgroup>
                        <col class="col_period">
                        <col class="col_spent">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><%=subPeriod%></th>
                            <th>Spent</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [period,totalSpent] of Object.entries(expenditure?.total?.period)){%>
                        <tr>
                            <td><%= period %></td>
                            <td><%= totalSpent %></td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <canvas id="total-all-period-bar"></canvas>
                <script>
                    const allPeriod = <%- JSON.stringify(Object.keys(expenditure.total.period)) %>;
                    const allPeriodSpent = <%- JSON.stringify(Object.values(expenditure.total.period)) %>;
                    const all_period_bar = document.querySelector("#total-all-period-bar");
                    new Chart(all_period_bar,{
                        type:'bar',
                        data:{
                            labels:allPeriod,
                            datasets:[{
                                label:'Total',
                                data:allPeriodSpent,
                                borderWidth: 1,
                                backgroundColor:'#D0F0C0',
                                borderColor:'#ACE1AF'
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    title:{text:'<%=subPeriod%>',padding:0,display:true}
                                },
                                y: {
                                    title:{text:'Total Spent',padding:0,display:true},
                                    beginAtZero: true
                                }
                            },
                            plugins:{legend:{position:'bottom'}}
                        }
                    });
                </script>
            </div>
            <hr/>
            <div class="breakdown-all-categ_period">
                <h3>Detailed Breakdown (Category - <%=subPeriod%>)</h3>
                <table class="col4">
                    <colgroup>
                        <col class="col_categ">
                        <col class="col_period">
                        <col class="col_spent">
                        <% if (reviewType === "Month"){ %><col class="col_comment"><%}%>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th><%=subPeriod%></th>
                            <th>Spent</th>
                            <% if (reviewType === "Month"){ %><th>Comment</th><%}%>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [categName,categEachPeriod] of Object.entries(expenditure?.categoryBreakdown)){%>
                        <% categEachPeriod.forEach(({period,spent,comment},index)=>{%>
                        <tr>
                        <% if (index === 0){%>
                            <td rowspan="<%= categEachPeriod.length %>"><%= categName %></td>
                        <%} %>
                            <td><%= period %></td>
                            <td><%= spent %></td>
                            <% if (reviewType === "Month"){ %><td><%= comment %></td><%}%>
                        </tr>
                        <%}) %>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div class="breakdown-all-period_categ">
                <h3>Detailed Breakdown (<%=subPeriod%> - Category)</h3>
                <table class="col4">
                    <colgroup>
                        <col class="col_period">
                        <col class="col_categ">
                        <col class="col_spent">
                        <% if (reviewType === "Month"){ %><col class="col_comment"><%}%>
                    </colgroup>
                    <thead>
                        <tr>
                            <th><%=subPeriod%></th>
                            <th>Category</th>
                            <th>Spent</th>
                            <% if (reviewType === "Month"){ %><th>Comment</th><%}%>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const [period,recordEachPeriod] of Object.entries(expenditure?.periodBreakdown)){%>
                        <% recordEachPeriod.forEach(({category,spent,comment},index)=>{%>
                        <tr>
                        <% if (index === 0){%>
                            <td rowspan="<%= recordEachPeriod.length %>"><%= period %></td>
                        <%} %>
                            <td><%= category %></td>
                            <td><%= spent %></td>
                            <% if (reviewType === "Month"){ %><td><%= comment %></td><%}%>
                        </tr>
                        <%}) %>
                    <%}%>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div class="breakdown-all-chart">
                <h3>Detailed Breakdown Chart</h3>
                <canvas id="breakdown-all-bar-stack"></canvas>
                <script>
                    const eachPeriod = <%- JSON.stringify(Object.keys(expenditure.periodBreakdown)) %>;
                    const categeachPeriod = '<%- JSON.stringify(Object.entries(expenditure.categoryBreakdown)) %>';
                    const eachCategDataset = JSON.parse(categeachPeriod).map(([category,recordObjArr])=>{
                        const eachPeriodCategSpent = eachPeriod.map((date)=>0);
                        recordObjArr.forEach(({spent,period})=>{
                            const dateIndexAmongRecordedDay = eachPeriod.findIndex((date)=>date===period);
                            eachPeriodCategSpent[dateIndexAmongRecordedDay] = spent;
                        });
                        return {label:category,data:eachPeriodCategSpent}
                    });
                    const all_bar_stack = document.querySelector("#breakdown-all-bar-stack");
                    new Chart(all_bar_stack,{
                        type:'bar',
                        data:{
                            labels:eachPeriod,
                            datasets:eachCategDataset
                        },
                        options: {
                            scales: {
                                x: {
                                    title:{text:'<%=subPeriod%>',padding:0,display:true},
                                    stacked: true
                                },
                                y: {
                                    title:{text:'Spent',padding:0,display:true},
                                    stacked: true
                                }
                            },
                            plugins:{legend:{position:'bottom'}}
                        }
                    });
                </script>
            </div>
            <%}%>
        </section>
        <% if (notification) {%>
            <% if (status==='Fail' ) {%>
                <div class="notification-text">
                    <p><b><%= notification.title %></b>: <%= notification.message %></p>
                </div>
            <% } else if (status==='Success' ){%>
                <div class="notification-text-success">
                    <p><b><%= notification.title %></b>: <%= notification.message %></p>
                </div>
            <% } %>
        <% } %>
    </main>
</body>

</html>